#logo {

  width: 150px;
  height: 150px;
}

.contentDiv {

  border: 1px solid black;
  margin-top: -1px;
}

footer {

  text-align: center;
  margin: 20px;
}

#statusImageForKikanGai {

  width: 80px;
  height: 40px;
}

#statusImageForKanryo {

  width: 60px;
  height: 40px;
}

#updateButton {

  width: 150px;
}