#logo {

  width: 150px;
  height: 150px;
}

#logo:hover {
	opacity: 0.5 ;
}

.contentDiv {

  border: 1px solid black;
  margin-top: -1px;
}

footer {

  text-align: center;
  margin: 20px;
}

#statusImageForKikanGai {

  width: 80px;
  height: 40px;
}

#statusImageForKanryo {

  width: 60px;
  height: 40px;
}

#updateButton {

  width: 150px;
}

#topTable {

  height: 200px;
}

@media screen and (max-width:767px) {
 
  #logoDiv {

    height: 100%;
  }

  #logo {

    width: 100%;
    height: 100%;
  }

  #updateButton {

    width: 100%;
  }
}